body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.body {
	margin: 15px;
}

h1 {
	color: white;
}

button {
	margin: 5px;
}

ul.unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav {
	background-color: white;
}

.welcome-header {
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
}

nav li {
	float: left;
	margin-left: 15px;
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	font-size: 16px;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	color: darkgrey;
}

.right-align button {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.right-align {
	margin-left: auto;
	overflow: auto;
}
